@mixin inputfield {
  padding: 10px 14px;
  border: 1px solid #e8e8e8;
  border-radius: 5px;
  outline: none;
}

* {
  margin: 0;
  padding: 0;
}

#root {
  background-color: rgb(96, 96, 98, 30%);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5% 0;
  min-height: 80vh;
}

.App {
  width: 90vw;
  background-color: #fafafa;
}

.user-icons {
  font-size: 20px;
  border: 1px solid rgba(233, 233, 233, 1);
  padding: 10px;
  border-radius: 50%;
  color: #0290ff;
}

.navbar {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e8e8e8;
  padding: 25px 7.5%;
  background-color: #fff;

  div {
    display: flex;
    align-items: center;
    gap: 50px;

    h1 {
      color: #0290ff;
      font-family: 'Montserrat', serif;
      font-weight: 700;
      font-size: 34px;
    }

    ul {
      display: flex;
      gap: 30px;
      list-style: none;

      li {
        font-family: 'Montserrat', serif;
        font-weight: 400;

        a {
          text-decoration: none;
          color: #363636;
        }
      }
    }
  }
}

.category-p {
  opacity: 0.4;
  font-size: 19px;
  font-family: 'Montserrat', serif;
  font-weight: 700;
  padding-bottom: 5px;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #fafafa;
  align-items: center;
  margin-top: 3%;
}

.book {
  background-color: #fff;
  border: 1px solid #e8e8e8;
  width: 85%;
  padding: 25px;
  display: flex;
  justify-content: space-between;
}

.input-div {
  padding: 25px 0 35px 0;
  width: 88%;
  display: flex;
  flex-direction: column;
  gap: 17px;

  h2 {
    opacity: 0.5;
  }

  form {
    display: flex;
    justify-content: space-between;

    :first-child {
      @include inputfield();

      width: 50%;
    }

    :nth-child(2) {
      width: 20%;

      @include inputfield();
    }

    button {
      background-color: #0290ff;
      color: #fff;
      padding: 15px 50px;
      border: none;
      border-radius: 3px;

      &:hover {
        cursor: pointer;
      }
    }
  }
}

.comments {
  border: none;
  color: #659ccb;
  background-color: #fff;
  padding: 25px 15px 15px 0;
}

.edit {
  padding: 25px 15px 15px 15px;
  border: none;
  color: #659ccb;
  background-color: #fff;
}

.remove {
  border-right: 1px solid #e8e8e8;
  border-left: 1px solid #e8e8e8;
  border-top: none;
  border-bottom: none;
  color: #659ccb;
  background-color: #fff;
  padding: 0 15px;

  &:hover {
    cursor: pointer;
  }
}

.author {
  color: #4587c0;
  padding-top: 4px;
}

.category-div {
  padding: 20px;

  button {
    border: 1px solid #e8e8e8;
    padding: 7px 14px;
    font-family: 'Montserrat', serif;

    &:hover {
      cursor: pointer;
      background-color: #e6e6e6;
    }
  }
}

#construction-text {
  padding-bottom: 14px;
  font-size: 19px;
  font-family: 'Montserrat', serif;
}

.update-progress-btn {
  border-radius: 3px;
  background-color: #0290ff;
  color: #fff;
  padding: 15px 50px;
  border: none;

  &:hover {
    cursor: pointer;
  }
}

.chapter-div {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-right: 50px;

  :first-child {
    font-family: 'Montserrat', serif;
    opacity: 0.4;
  }

  :nth-child(2) {
    font-family: 'Montserrat', serif;
    font-size: 18px;
  }
}

.update-progress-btn-completed {
  border-radius: 3px;
  background-color: #3ac47d;
  color: #fff;
  padding: 15px 50px;
  border: none;
}
